In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

**시험에 맞는 데이터 셋 만들기 , 칼럼 =['나라 이름', '날짜', '누적 확진자수']**

In [7]:
# 데이터 불러오기 
df = pd.read_csv('./data/covid.csv')

In [8]:
df.head(10)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
5,AFG,Asia,Afghanistan,2020-02-29,5.0,0.0,0.714,NaN,NaN,0.0,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
6,AFG,Asia,Afghanistan,2020-03-01,5.0,0.0,0.714,NaN,NaN,0.0,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
7,AFG,Asia,Afghanistan,2020-03-02,5.0,0.0,0.000,NaN,NaN,0.0,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
8,AFG,Asia,Afghanistan,2020-03-03,5.0,0.0,0.000,NaN,NaN,0.0,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
9,AFG,Asia,Afghanistan,2020-03-04,5.0,0.0,0.000,NaN,NaN,0.0,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [9]:
# 필요한 데이터만 가져오기 ('국가명','날짜','확진자수')
df = df[['iso_code','date','total_cases']]
# 새로운 칼럼명으로 지정
df.columns = ['coun','date','confirmed']
df

       coun        date  confirmed
0       AFG  2020-02-24        5.0
1       AFG  2020-02-25        5.0
2       AFG  2020-02-26        5.0
3       AFG  2020-02-27        5.0
4       AFG  2020-02-28        5.0
...     ...         ...        ...
148557  ZWE  2021-12-15   177690.0
148558  ZWE  2021-12-16   182057.0
148559  ZWE  2021-12-17   189567.0
148560  ZWE  2021-12-18   189567.0
148561  ZWE  2021-12-19   191673.0

[148562 rows x 3 columns]

In [11]:
# 가장 최근 날짜를 기준으로 가장 빈도수가 많은 20개국을 뽑기
df_12_19 = df[df['date']=='2021-12-19']
df_12_19 = df_12_19.sort_values('confirmed',ascending=False)

In [12]:
df_12_19['coun'][0:30].values===[[[[[[[[[[]]]]]]]]]]

array(['OWID_WRL', 'OWID_HIC', 'OWID_UMC', 'OWID_ASI', 'OWID_EUR',
       'OWID_LMC', 'OWID_NAM', 'OWID_EUN', 'USA', 'OWID_SAM', 'IND',
       'BRA', 'GBR', 'RUS', 'OWID_AFR', 'TUR', 'FRA', 'DEU', 'IRN', 'ESP',
       'ARG', 'ITA', 'COL', 'IDN', 'POL', 'MEX', 'UKR', 'ZAF', 'NLD',
       'PHL'], dtype=object)

In [13]:
coun = ['USA', 'KOR', 'IND','BRA', 'GBR', 'RUS', 'TUR', 'FRA', 'DEU', 'IRN', 'ESP',
       'ARG', 'ITA', 'COL', 'IDN', 'POL', 'MEX', 'UKR', 'ZAF', 'NLD','PHL']

# 빈도수가 많은 20개국 나라만 데이터 프레임에서 뽑아내기 
df = df.loc[df['coun'].isin(coun)]
df

       coun        date   confirmed
5246    ARG  2020-01-01         NaN
5247    ARG  2020-01-02         NaN
5248    ARG  2020-01-03         NaN
5249    ARG  2020-01-04         NaN
5250    ARG  2020-01-05         NaN
...     ...         ...         ...
141139  USA  2021-12-15  50378175.0
141140  USA  2021-12-16  50516465.0
141141  USA  2021-12-17  50705659.0
141142  USA  2021-12-18  50776013.0
141143  USA  2021-12-19  50846828.0

[14311 rows x 3 columns]

In [16]:
df[df['coun']=='ARG'].isna().sum()

coun          0
date          0
confirmed    62
dtype: int64

In [8]:
# 시간 데이터로 변환
df['date']=pd.to_datetime(df['date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14311 entries, 5246 to 141143
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   coun       14311 non-null  object
 1   date       14311 non-null  datetime64[ns]
 2   confirmed  14162 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 447.2+ KB

/var/folders/sy/lzv1b4r92bqb6hy15tk2qy5h0000gn/T/ipykernel_6523/4191019846.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date']=pd.to_datetime(df['date'])

In [9]:
# 올해 2월 1일 이후부터 데이터만 뽑기
df = df[df['date']>='2021-02-01']
df = df.reset_index() # 인덱스 재 설정
df = df.drop('index',axis=1)

In [10]:
# 완성
df.to_csv('./data/covid19.csv',index=False)

3-1 자기 상관 함수를 이용하여 거리를 계산하시오

In [11]:
df = pd.read_csv('./data/covid19.csv')
df.head()

  coun        date  confirmed
0  ARG  2021-02-01  1933853.0
1  ARG  2021-02-02  1943548.0
2  ARG  2021-02-03  1952744.0
3  ARG  2021-02-04  1961635.0
4  ARG  2021-02-05  1970009.0

In [12]:
df['coun'].value_counts().keys()

Index(['ARG', 'PHL', 'GBR', 'UKR', 'TUR', 'ESP', 'KOR', 'ZAF', 'RUS', 'POL',
       'NLD', 'BRA', 'MEX', 'ITA', 'IRN', 'IDN', 'IND', 'DEU', 'FRA', 'COL',
       'USA'],
      dtype='object')

In [13]:
df.set_index('date',inplace = True)

In [14]:
df['coun'].value_counts()

ARG    322
PHL    322
GBR    322
UKR    322
TUR    322
ESP    322
KOR    322
ZAF    322
RUS    322
POL    322
NLD    322
BRA    322
MEX    322
ITA    322
IRN    322
IDN    322
IND    322
DEU    322
FRA    322
COL    322
USA    322
Name: coun, dtype: int64

**나라별로 동일하게 322개의 데이터를 가지고 있다. ( 실제 시험에서도 각 나라별로 동일한 데이터 개수를 가지고 있었음 )**

In [15]:
countries = df['coun'].value_counts().keys()
countries.tolist()

['ARG',
 'PHL',
 'GBR',
 'UKR',
 'TUR',
 'ESP',
 'KOR',
 'ZAF',
 'RUS',
 'POL',
 'NLD',
 'BRA',
 'MEX',
 'ITA',
 'IRN',
 'IDN',
 'IND',
 'DEU',
 'FRA',
 'COL',
 'USA']

In [16]:
groups = df.groupby(df.coun)
df1 = groups.get_group("ARG")['confirmed']
for country in countries:
    if country =='ARG':
        pass
    else:
        df1 = pd.concat([df1,groups.get_group(country)['confirmed']],axis=1)
df1.columns = countries

In [17]:
df1

,ARG,PHL,GBR,UKR,TUR,ESP,KOR,ZAF,RUS,POL,...,BRA,MEX,ITA,IRN,IDN,IND,DEU,FRA,COL,USA
date,,,,,,,,,,,,,,,,,,,,,
2021-02-01,1933853.0,527272.0,3839520.0,1263833.0,2485182.0,2822805.0,78844.0,1456309.0,3825739.0,1515889.0,...,9229322.0,1869708.0,2560957.0,1424596.0,1089308.0,10766245.0,2232327.0,3242205.0,2104506.0,26445589.0
2021-02-02,1943548.0,528853.0,3856399.0,1266464.0,2492977.0,2851869.0,79311.0,1458958.0,3842145.0,1520215.0,...,9283418.0,1874092.0,2570608.0,1431416.0,1099687.0,10777284.0,2240017.0,3265542.0,2114597.0,26559461.0
2021-02-03,1952744.0,530118.0,3875601.0,1270001.0,2501079.0,2883465.0,79762.0,1463016.0,3858367.0,1527016.0,...,9339420.0,1886245.0,2583790.0,1438286.0,1111671.0,10790183.0,2252504.0,3291904.0,2125622.0,26682573.0
2021-02-04,1961635.0,531699.0,3896275.0,1275334.0,2508988.0,2913425.0,80131.0,1466767.0,3874830.0,1533511.0,...,9396293.0,1886245.0,2597446.0,1445326.0,1123105.0,10802591.0,2265536.0,3291904.0,2135412.0,26806501.0
2021-02-05,1970009.0,533587.0,3915435.0,1280501.0,2516889.0,2941990.0,80524.0,1470516.0,3891274.0,1539564.0,...,9447165.0,1912871.0,2611659.0,1452380.0,1134854.0,10814304.0,2276371.0,3337491.0,2142660.0,26938161.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-15,5371341.0,2836915.0,11031507.0,3754567.0,9102294.0,5393268.0,544117.0,3231031.0,9927150.0,3881349.0,...,22201221.0,3924638.0,5282076.0,6162954.0,4259644.0,34718602.0,6690568.0,8444664.0,5099746.0,50378175.0
2021-12-16,5376642.0,2837016.0,11119308.0,3764485.0,9138535.0,5422168.0,551551.0,3255816.0,9955308.0,3903445.0,...,22201221.0,3927265.0,5308180.0,6165454.0,4259857.0,34726049.0,6741968.0,8505530.0,5101466.0,50516465.0
2021-12-17,5382290.0,2837464.0,11212021.0,3773700.0,9138535.0,5455527.0,558864.0,3276529.0,9982735.0,3923472.0,...,22204941.0,3927265.0,5336795.0,6167650.0,4260148.0,34726049.0,6757684.0,8563658.0,5103269.0,50705659.0
2021-12-18,5386453.0,2837555.0,11301095.0,3781506.0,9138535.0,5455527.0,565098.0,3292609.0,10009866.0,3942864.0,...,22204941.0,3930015.0,5364852.0,6169011.0,4260380.0,34733194.0,6813287.0,8622194.0,5105285.0,50776013.0
2021-12-19,5389707.0,2837577.0,11383054.0,3785395.0,9173089.0,5455527.0,570414.0,3308074.0,10037546.0,3958840.0,...,22213762.0,3932545.0,5389155.0,6170979.0,4260544.0,34746838.0,6812746.0,8670667.0,5107323.0,50846828.0

In [187]:
for num in range(322,1):
    df1[1]

In [189]:
df.loc[1,:]

KeyError: 1